/* .menu-category-item {
  animation: slideRight 1s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */
.menu-category-item-text {
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.menu-category-item-icon {
  font-size: 40px !important;
}
